<footer>
  <section class="px-4 py-9 bg-primary text-white">
    <div
      class="flex justify-between items-center w-full lg:max-w-[90rem] mx-auto"
    >
      <a href="#">
        <span class="text-white text-3xl font-bold">Nintendo</span>
      </a>
      <div class="flex gap-9">
        <a href="#facebook">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-[30px] h-[30px]"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm0 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM15.375 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zM7.5 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="#instagram">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-[30px] h-[30px]"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm0 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM15.375 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zM7.5 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="#twitter">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-[30px] h-[30px]"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm0 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM15.375 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zM7.5 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="#youtube">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-[30px] h-[30px]"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm0 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM15.375 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zM7.5 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="px-4 py-9">
    <div
      class="flex justify-between items-center w-full lg:max-w-[90rem] mx-auto"
    >
      <div
        class={`grid
        grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 
        gap-y-9 gap-x-3 px-3 justify-center
        [&>div]:pl-5 [&>div]:border-l
        [&>div>h2]:mb-4 [&>div>h2]:text-lg
        [&>div>ul>li]:mb-2 [&>div>ul>li]:text-primary
        font-bold border-black-soft`}
      >
        <div class="row-[span_2_/_auto] xl:border-transparent">
          <h2 class="mb-4">About Nintendo</h2>
          <ul>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Corporate Social Responsibility</a>
            </li>
          </ul>
        </div>
        <div class="row-[span_2_/_auto]">
          <h2>Shop</h2>
          <ul>
            <li><a href="">Games</a></li>
            <li><a href="">Hardware</a></li>
            <li><a href=""></a>Merchandise</li>
            <li><a href=""></a>Sales & deals</li>
            <li><a href=""></a>Exclusives</li>
            <li><a href=""></a>Online service</li>
            <li><a href=""></a>Nintendo NY store</li>
          </ul>
        </div>
        <div class="row-[span_2_/_auto]">
          <h2>My Nintendo Store orders</h2>
          <ul>
            <li><a href=""></a>Order details</li>
            <li><a href=""></a>Shipping info</li>
            <li><a href=""></a>Returns & exchanges</li>
            <li><a href=""></a>FAQ</li>
          </ul>
        </div>
        <div class="row-[span_2_/_auto]">
          <h2>Support</h2>
          <ul>
            <li><a href="">Nintendo Switch</a></li>
            <li><a href="">Nintendo Account</a></li>
            <li><a href="">Other systems</a></li>
            <li><a href="">Repairs</a></li>
            <li><a href="">Nintendo product recycling</a></li>
          </ul>
        </div>
        <div>
          <h2>Parents</h2>
          <ul>
            <li><a href="">Info for parents</a></li>
            <li><a href="">Parental controls</a></li>
          </ul>
        </div>
        <div>
          <h2>Community</h2>
          <ul>
            <li><a href="">Community guidelines</a></li>
            <li><a href="">Online safety principles</a></li>
          </ul>
        </div>
        <div>
          <h2>Privacy</h2>
          <ul>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Cookies and interest-based ads</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
