---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Stardew Valley for Nintendo Switch - Nintendo Site">
  <main>
    <section class="relative h-screen z-1 bg-[#d6f0fa]"><div class="">Content</div></section>
  </main>
</MainLayout>
